# .env
NODE_ENV=development
PORT=3000
HOSTNAME=0.0.0.0

# MySQL
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=my_diploma_db
MYSQL_USER=my_user
MYSQL_PASSWORD=my_password

# Node.js приложение
DB_HOST=mysql_db
DB_USER=root
DB_PASSWORD=root_password
DB_DATABASE=my_diploma_db
DB_PORT=3306

SESSION_SECRET=my_super_secret_key_change_me

# phpMyAdmin
PMA_HOST=mysql_db
PMA_PORT=3306