<h1>Внутренняя ошибка сервера</h1>
<p>приносим извинения за доставленные неудобства.
    <br>Если ошибка повторяется напишите на annabankova950@gmail.com и мы постараемся её исправить в ближайшее время.
</p>
<a href="/">На главную</a>