<header>
    <p>
        <span class="W">ЭТО</span>
        <span class="B">РУССКИЙ</span>
        <span class="R">САЙТ</span>
    </p>
    <div class="Cell">
        <div class="Lade">
        <h1>
            Добро пожаловать в раздел контакты!
        </h1>
        <p>В данном разделе находится моя контактная информация.</p>
        </div>
    </div>
</header>
<nav>
    <p>
        <a href="/">Главная</a>
        <a href="/contact">Контакты</a>
    </p>
</nav>
<main>
    <nav>
        <div class="accordion">
            <details>
                <summary>Содержание страницы/навигационное меню</summary>
                    <div class="det">
                        <a href="#contact">Мои контакты</a>
                    </div>
            </details>
        </div>
    </nav>
    <section>
        <article>
            <h1 id="contact"> Мои контакты </h1>
            <p class="txt">Телеграмм: @USSR_LeninRulit</p>
            <p class="txt">Электронная почта: gmd20.06.2006@gmail.com</p>
            <p class="txt">Номер телефона: +7 (924) 619 34-74</p>
        </article>
    </section>
</main>
<footer id = "col">
    <p>&copy; Все права защищены.</p>
</footer>
<script>
    const names = alert("Добро пожаловать на страницу 'Контакты'!")
</script>
