
    <header>
    <p>
        <span class="W">ЭТО</span>
        <span class="B">РУССКИЙ</span>
        <span class="R">САЙТ</span>
    </p>
    <div class="Cell">
        <div class="Lade">
        <h1>
            <span id="grt"></span>
        </h1>
        <p>Мы очень рады, что вы посетили данный сайт!<br>Чувствуйте себя как дома:)</p>
        </div>
    </div>
    </header>
      <nav>
        <p>
          <a href="/">Главная</a>
          <a href="/contact">Контакты</a>
          <a href="/ER">Модель</a>
        </p>
      </nav>
    <main>
    <h2>О чём данный сайт? </h2>
    <p>
        Данный сайт - это своего рода мини-разработка,
        <br>на котором находятся прототипы-разработки,
        <br>а также небольшое введение в кибербезопасность,
        <br>но в будущем он станет хорошим проектом.
        <br>Если разработчик не будет слишком занят.
    </p>
    <nav>
        <div class="accordion">
          <details>
            <summary id="nav">Содержание страницы/навигационное меню</summary>
              <div class="det">
                <a href="#DD">Отзыв</a>
                <a href="#v">Список того, что в будущем будет добавлено на сайт</a>
                <a href="#table">Таблица того, что нужно</a>
                <a href="#CATS">КОТЯТА </a>
                <a href="#warn">Правила работы с дарквебом</a>
              </div>
          </details>
        </div>
    </nav>
        <h1>Основное содержимое сайта</h1>
    <section>
    <article>
        <h3>Небольшие тесты</h3>

      <p>
        Здесь пока, что тестируются будущие возможности сайта.
      </p>

    <div id="status"></div></p>
      <p><button id ="ClickMe"> Нажми на меня! </button> <button id = "backgroundCSS">Изменить фон</button> <button id="Numer">Игра кто ты в цифровом мире</button></p>   

      <img src="/images/maxresdefault.jpg" alt="На данной фотографии изображён котёнок в траве." width="300" height="200">
      <p>Это котёнок, милый правда?</p>
    </article>
    <article>
      <h3>Часть песен из моего плейлиста</h3>
      <p>Allors On Danse - Stromae</p>
      <audio controls>
      <source src="/audio/allors.mp3" type="audio/mpeg"> ваш браузер не поддерживает аудио.
      </audio>
      <p>Казачья - Сектор Газа</p>
      <audio controls>
      <source src="/audio/Казачья.mp3" type="audio/mpeg"> ваш браузер не поддерживает аудио.
      </audio>
      <p>Имя 404 - Время и стекло</p>
      <audio controls>
      <source src="/audio/404.mp3" type="audio/mpeg"> ваш браузер не поддерживает аудио.
      </audio>
    </article>
    </section>
    <section>
    <article>
      <h3 id="my-server">бета-тест сервера <a href="#nav">К навигационному меню</a></h3>
      <a href="Test.file.py"> пока что не работает</a>
    </article>
    </section>
    <section>
    <article>
      <h3 id="v">Список того, что в будущем будет добавлено на сайт <a href="#nav">К навигационному меню</a></h3>
      <ul style="list-style-type: circle">
        <li> Котик(Выполнено).</li>
        <li> Возможно появятся игры(выполнено).</li>
        <li> Структура станет лучше(выполнено).</li>
        <li> Таблицы(выполнено).</li>
        <li> Больше котиков<b>(ВЫПОЛНЕНО)</b>.</li>
        <li> Интерактивные элементы(выполнено).</li>
        <li> Много уникального контента(выполнено).</li>
        <li> Возможно появится сервер для общения(в разработке).</li>
        <li> Возможно станет социальной сетью.</li>
      </ul>
    </article>
    </section>
    <section>
      <article>
    <h3 id="table">Таблица того, что нужно <a href="#nav">К навигационному меню</a></h3>
        <table>
      <tbody>
       <tr>
        <th style="background-color: red; color: black;">Вопрос</th>
        <th style="background-color: red; color: black;">Как давно сайт создаётся?</th>
        <th style="background-color: red; color: black;">Когда будут котики?</th>
        <th style="background-color: red; color: black;"> Скоро сайт завершится?</th>
       </tr>
        <tr>
        <th rowspan="2" style="background-color: green; color: black;">Ответ</th>
        <td style="background-color: yellow; color: black;">Уже порядка месяца(больше года).</td>
        <td rowspan="2" style="background-color: yellow; color: black;"><b>КОТИКИ ПОЯВИЛИСЬ!</b></td>
        <td rowspan="2" style="background-color: yellow; color: black;">По сути он завершён, но нужно настроить сервер.</td>
        </tr>
       <tr>
        <td style="background-color: yellow; color: black;">Но думаю он завершиться в скором времени.</td>
       </tr>
      </tbody>
        </table>
        </article>
      </section>
    <section>
    <article>
      <h3 id="CATS"> КОТЯТА <a href="#nav">К навигационному меню</a></h3>
    <div class="cat-container">
      <img src="/images/Котик1.jpg" alt="Изображён котёнок." class="cat-image">
      <img src="/images/Котик2.jpg" alt="Изображён котёнок" class="cat-image">
      <img src="/images/Котик3.jpg" alt="Изображён котёнок" class="cat-image">
      <img src="/images/Котик4.jpg" alt="Изображён котёнок" class="cat-image">
      <p><span class="highlight">Котики</span> - это супер!</p>
    </div>
    </article>
    </section>
    <section>
    <article>
      <h3 id="warn">Правила работы с дарквебом(даркнетом) <a href="#nav">К навигационному меню</a></h3>
      <p> Здесь перечислены правила для работы с даркнетом, будьте предельно осторожны прежде чем использовать данную часть интернета.</p>
      <iframe src="/docs/WAR.html" width="1000" height="1000" alt = "Здесь перечислены правила для работы с дарвебом."></iframe>
    </article>
    </section>
    <section>
    <article>
      <h3 id="DD"><em> Отзыв </em> <a href="#nav">К навигационному меню</a></h3>
      <p>Нам очень важно ваше мнение, поэтому, если вам не составит труда напишите отзыв о нашем сайте,<br>что вам нравиться и не нравиться. А также не забудьте отметить необходимую галочку.</p>
<form id="myForm" action="/save-data" method="post" autocomplete="off">
  <fieldset autocomplete="off">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">
      <p><label>Выберите дату и время написания</label></P>
      <p><input type="datetime-local" name="dateTime" value="2025-07-30T14:47" autocomplete="off"></p>

      <p>Вам нравиться сайт?</p>
      <input type="radio" id="YES" name="Z" value="v" autocomplete="off">
      <label for="YES">Да</label>
      <input type="radio" id="NOT" name="Z" value="k" autocomplete="off">
      <label for="NOT">Нет</label>
      <input type="radio" id="IDK" name="Z" value="l" autocomplete="off">
      <label for="IDK">Не знаю</label>

      <p><label for="Like">Какой раздел вам больше понравился?</label></p>
      <select id="Like" name="Like">
      <optgroup label="Шапка">
        <option selected value="Welcome"> Добро пожаловать!</option>
      </optgroup>
      <optgroup label="Основная часть">
        <option value="tests"> Небольшие тесты</option>
        <option value="spisok"> Список того, что в будущем будет добавлено на сайт</option>
        <option value="cats"> КОТЯТА</option>
        <option value="red"> Особая часть</option>
      </optgroup>
      <optgroup label="Подвал">
        <option value="footer"> Контактная  информация</option>
      </optgroup>
    </select>

    <p><textarea name="COMMENT" id="COMMENT" rows="5" cols="30" maxlength="1000" placeholder="Напишите ваш отзыв о сайте." autocomplete="off"></textarea></p>
    <p><button type="submit" id="submitButton">Отправить</button> <button type="reset">Сбросить</button></p>
  </fieldset>
</form>
    </article>
    </section>
    <aside>
      <h4><b>Прочие источники</b></h4>
      <div class="ui" id="ui">
      <ol>
      <li><a href="https://coursme.com/article/osnovy-veb-razrabotki-dlya-novichkov-html-css-i-javascript-s-prilozheniem-kodik">Основы веб-разработки</a></li>
      <li><a href="https://skillbox.ru">Скиллбокс</a></li>
      <li><a href="https://pikabu.ru/story/top_10_besplatnyikh_saytov_po_programmirovaniyu_10014416">Пикабу</a></li>
      <li><a href="https://youtube.com/playlist?list=PLs2IpQwiXpT3SqbqPzLCEy1fow9G7g0oY&si=8BWm86gBueP2nlzW">Мини-курс по питону</a></li>
      </ol>
      </div>
    </aside>
    </main>
    <footer id = "col">
      <a href="#"> Вернуться в начало страницы.</a>
      <p>&copy; Все права защищены.</p>
    </footer>
  <script src="/js/S-2.js"></script>