<h1>РЕГИСТРАЦИЯ</h1>

<form id="register-form" method="post" action="/register">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="name" placeholder="Имя" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <label>
        <input type="checkbox" name="privacyConsent" required> Я согласен с <a href="/privacy">политикой конфиденциальности</a>
    </label>
    <button type="submit">Зарегистрироваться</button>
</form>

<h1>ВХОД</h1>

<form id="login-form" method="post" action="/login">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="name" placeholder="Имя" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <label>
        <input type="checkbox" name="privacyConsent" required> Я согласен с <a href="/privacy">политикой конфиденциальности</a>
    </label>
    <button type="submit">Вход</button>
</form>
<script src="/public/js/S-4.js"></script>